body{
    display: flex;
}
a{
    text-decoration: none;
}
.BG_blue{
    background-color: blue;
}
.BG_pink{
    background-color: pink;
}
.BG_brown{
    background-color: brown;
}
.BG_yellow{
    background-color: yellow;
}